node_modules/
client/node_modules/
/.env
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
dist/
build/
.DS_Store
.vscode/
.idea/
debug.log
*.tgz
/.parcel-cache
/.cache
*.log

